.logo-box{
  /* border: 1px solid rebeccapurple; */
  width: fit-content;
}
.logo-box img{
  margin: 2rem 2rem;
  width: 20vmin;
  border-radius: 25px;
  background-color: rgb(6, 6, 6);
  box-shadow: 15px 15px 22px rgb(9, 9, 9), -15px -15px 22px rgb(9, 9, 9);
}
